mixin hamburger-square
    button.hamburger-square.button
        .hamburger-square__item
            .block-inner
                .block-content
        .hamburger-square__item
            .block-inner
                .block-content
        .hamburger-square__item
            .block-inner
                .block-content
        .hamburger-square__item
            .block-inner
                .block-content
        .hamburger-square__item
            .block-inner
                .block-content
        .hamburger-square__item
            .block-inner
                .block-content
        .hamburger-square__item
            .block-inner
                .block-content
        .hamburger-square__item
            .block-inner
                .block-content
        .hamburger-square__item
            .block-inner
                .block-content        
