mixin item--icon-text(icon)
    .item--icon-text
        .item__icon
            .item__icon-content
                img(src="./img/main/main__icons/" + icon , alt= icon)
        .item__text
            block