extends ./../layouts/main.pug

block variables
    - const title = "Главная";


block content
    include ../sections/index/header/header.pug
    include ../sections/index/main/main.pug
    include ../sections/index/footer/footer.pug


