.main__section {
  padding: 2.75rem 0;

  @media (min-width: 48rem) {
    padding: 3.75rem 0;
  }

  @media (min-width: 90rem) {
    padding: 5rem 0;
  }
}

.section__row {
  display: flex;
  flex-direction: column;

  @media (min-width: 48rem) {
    flex-direction: row;
  }
}

.section-top {
  padding-top: 5.25rem;
  padding-bottom: 3.5rem;
}

.section-bottom {
  padding: 2rem 0;
}

.main__desc {
  @media (min-width: 90rem) {
    width: 75%;
  }

  @media (min-width: 120rem) {
    width: 50%;
  }
}

.main__desc--enlarged {
  @media (min-width: 90rem) {
    width: 78%;
  }

  @media (min-width: 120rem) {
    width: 58%;
  }
}


