.header__content
    .header__container
        .header__desc
            .header__desc-inner
                h1.header__title.title КАЧЕСТВО ОСНОВНЫХ ДАННЫХ ПОД КОНТРОЛЕМ
                .header-content__button-wrapper
                    button.button.button--red получить презентацию
        .header__pointer
            p.header__pointer-text Главная&nbsp;
            p.header__pointer-text.header__pointer--final &gt; NSI