section.main__section
    .section__row
        .col--half
            h2.title.title--section Решение
        .col--half
            .main__desc
                h3.title.title--subsection Центр каталогизации ГК ТендерПро готов создать каталог продукции предприятия с нуля или обработать уже имеющийся справочник
                ul.list
                    li.list__item.list__item--check Разработка методики нормализации данных индивидуально по требованиям заказчика
                    li.list__item.list__item--check Аутсорсинг ведения справочника
                    li.list__item.list__item--check Разработка корпоративных классификаторов продукции, услуг
                    li.list__item.list__item--check Выполнение работ по нормализации и классификации справочника заказчика
                    li.list__item.list__item--check Разработка шаблонов описания МТР
                    li.list__item.list__item--check Перевод на английский язык наименований позиций, а так же их свойств и значений