section.main__section.main__section--dark
    .main__container
        .section__row
            .col--half
                h2.title.title--section КАТАЛОГИЗАЦИЯ
            .col--half
                .main__desc.main__desc--enlarged
                    p.text
                        | Каталогизация материально-технических ресурсов (МТР) — совокупность процессов (идентификация, описание, классификация, унификация, кодификация), обеспечивающих единообразное и однозначное описание МТР.
                    p.text
                        | Каталогизация продукции является эффективным способом упорядочения процессов материально- технического снабжения и сокращения затрат на приобретение продукции, позволяет исключить закупку дублирующей продукции и необоснованное завышение цен.