section.main__section.paddings-zero
    .section-top.bg--lightgrey
        .main__container
            h2.title.title--section наш подход
    .section-bottom
        .main__container
            .section__row.items-wrapper
                +item--icon-text("fire.svg")
                    | Высокое качество, сжатые сроки, приемлемая цена
                +item--icon-text("avatar.svg")
                    | Создание методик работы индивидуально под ваш проект
                +item--icon-text("shield.svg")
                    | Профессионализм
                    br
                    | и богатый опыт
