section.main__section.paddings-zero.main__section--dark
    .section-top.main__section--dark
        .main__container
            h2.title.title--section наши проекты
    .section-bottom
        .main__container
            .owl-carousel.owl-theme
                .item
                    img(src="./img/main/main__icons/companies/teclot.svg" alt="teclot.svg")
                .item
                    img(src="./img/main/main__icons/companies/sunprod.svg" alt="sunprod.svg")
                .item
                    img(src="./img/main/main__icons/companies/locoteh.svg" alt="locoteh.svg")
                .item.item--upper
                    img(src="./img/main/main__icons/companies/ogk.svg" alt="ogk.svg")
                .item.item--upper
                    img(src="./img/main/main__icons/companies/mosenergo.svg" alt="mosenergo.svg")
                .item
                    img(src="./img/main/main__icons/companies/tmh.svg" alt="tmh.svg")
