section.main__section
    .section__row
        .col--half
            h2.title.title--section Проблема
        .col--half
            .main__desc
                h3.title.title--subsection НЕКАЧЕСТВЕННЫЕ ДАННЫЕ
                ul.list
                    li.list__item.list__item--cross Вызывают несогласованность при работе в различных информационных системах
                    li.list__item.list__item--cross Ведут к увеличению складов и росту неликвидов
                    li.list__item.list__item--cross Требуют многократный ввод одинаковой информации
                    li.list__item.list__item--cross Повышают транзакционные издержки на выверку данных
                    li.list__item.list__item--cross Не позволяют консолидировать закупки
                    li.list__item.list__item--cross Препятствуют работе с контрагентами
                    li.list__item.list__item--cross Уменьшают достоверность аналитики и отчетности